/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yO/l/0,cross/YRQa2Lh4avU.css?_nc_x=9pbprGlQgYp */
body{background:#fff;color:#1c1e21;direction:ltr;line-height:1.34;margin:0;padding:0;unicode-bidi:embed;}
body{font-family:Helvetica, Arial, sans-serif;font-size:12px;}
h1,h2,h3,h4,h5{color:#1c1e21;font-size:13px;font-weight:600;margin:0;padding:0;}
h1{font-size:14px;}
h4,h5{font-size:12px;}
a{color:#385898;cursor:pointer;text-decoration:none;}
a:hover{text-decoration:underline;}
img{border:0;}
ul{list-style-type:none;margin:0;padding:0;}
*::-webkit-input-placeholder{color:#606770;}
*:focus::-webkit-input-placeholder{color:#bec3c9;}
body{overflow-y:scroll;}
@media print{
._6e3w{display:none;}
}
._li._li._li{overflow:initial;}
.ptm{padding-top:10px;}
.mbm{margin-bottom:10px;}
._tzw{height:40px;width:40px;}
a._p{display:block;}
._6a{display:inline-block;}
._2pii{padding-right:8px;}
._2pis{padding-left:8px;}
/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yI/l/0,cross/4ag300CZxGX.css?_nc_x=9pbprGlQgYp */
.clearfix:after{clear:both;content:'.';display:block;font-size:0;height:0;line-height:0;visibility:hidden;}
.clearfix{zoom:1;}
#facebook .hidden_elem{display:none!important;}
i.img{-ms-high-contrast-adjust:none;}
._42ft{cursor:pointer;display:inline-block;text-decoration:none;white-space:nowrap;}
._42ft:hover{text-decoration:none;}
/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yD/l/0,cross/R8VpwvBtAUS.css?_nc_x=9pbprGlQgYp */
._17xf{height:100%;width:100%;}
._17xg{background:#365899;}
._nsg{background-repeat:no-repeat;background-size:cover;box-sizing:border-box;}
._9wa{display:flex;height:100%;}
._9wi{justify-content:center;}
._9wv{align-items:center;}
._414p{height:100%;width:100%;}
._414q{background-image:linear-gradient(45deg, #365899 0%, rgba(0,248,255,.75) 100%);}
._414r{background-image:linear-gradient(-180deg, #FFFFFF 0%, #edf2fa 100%);}
._5-4r{border-radius:3px;color:#fff;font-family:Freight Sans,helvetica neue,helvetica,arial,lucida grande,sans-serif;font-size:16px;font-weight:600;height:48px;letter-spacing:.75px;line-height:48px;padding-left:30px;padding-right:30px;transition:all 250ms cubic-bezier(.165, .84, .44, 1);}
@media only screen and (min-width: 768px){
._5-4r{font-size:18px;}
}
._5-4r:hover{text-decoration:none;}
._5-4t{background-color:Transparent;border:1px solid #fff;}
._5-4t:hover{background:white;color:#5991ff;}
._2xl0 ._50zm{margin:0 auto;}
._2v9n._3jay{padding-top:35px;}
._5-o1{background:#4080ff;border-radius:3px;color:#fff;font-size:15px;height:28px;line-height:28px;padding-left:12px;padding-right:12px;}
._2ad-{border-radius:50%;}
._4lu6{color:#4e5664;font-family:Freight Sans,helvetica neue,helvetica,arial,lucida grande,sans-serif;font-size:18px;font-weight:600;letter-spacing:0;line-height:40px;}
@media only screen and (min-width: 768px){
._4lu6{font-size:15px;font-weight:500;line-height:18px;}
}
._4mlf{align-items:center;border-radius:116px;display:flex;height:232px;justify-content:center;text-align:center;width:232px;}
._5-pz{background:#fff;}
._5-p-{background:#365899;}
._slu{background:#4267b2;box-shadow:0 2px 50px #29487d;display:flex;flex-direction:column;height:370px;margin:0 auto;width:268px;}
._3el6 ._slu{box-shadow:none;}
._18zh{align-items:flex-end;display:flex;height:154px;}
@media only screen and (min-width: 1024px){
._slu{height:420px;width:100%;}
._18zh{height:200px;}
}
._slv{display:flex;flex-direction:column;flex-grow:1;justify-content:space-between;padding:25px;text-align:center;}
._slv:hover a{text-decoration:none;}
._19fq{border-radius:50%;display:block;height:152px;margin:0 auto;width:152px;}
._2j9x{font-family:Freight Sans,helvetica neue,helvetica,arial,lucida grande,sans-serif;letter-spacing:.25px;}
._2jab{font-size:40px;line-height:48px;}
._2jac{font-size:36px;line-height:40px;}
._2jad{font-size:30px;line-height:36px;}
._2jaf{font-size:24px;line-height:30px;}
._2jag{font-size:18px;line-height:24px;}
._2jak{font-size:18px;line-height:24px;}
._22ic{font-size:16px;line-height:22px;}
._fys{font-size:14px;line-height:20px;}
._4h2-{font-size:12px;line-height:14px;}
@media only screen and (min-width: 768px){
._2jab{font-size:62px;line-height:64px;}
._2jac{font-size:48px;line-height:54px;}
._2jad{font-size:36px;line-height:42px;}
._2jaf{font-size:30px;line-height:42px;}
._2jag{font-size:24px;line-height:30px;}
._2jak{font-size:24px;line-height:34px;}
._22ic{font-size:18px;line-height:28px;}
._fys{line-height:24px;}
._4h2-{font-size:14px;line-height:26px;}
}
._5-jp{font-weight:300;}
._5-jq{font-weight:400;}
._5-jr{font-weight:500;}
._5-js{font-weight:600;}
._2jal{color:#fff;}
._2jam{color:#365899;}
._2jan{color:#4e5664;}
._4h31{color:#00f0ff;}
._246z{background-position:center;background-repeat:no-repeat;background-size:cover;}
._1x4o{background:#444950;font-family:-apple-system, BlinkMacSystemFont, Roboto, Arial, Helvetica, sans-serif;padding-bottom:70px;padding-top:40px;}
._1x4p{display:flex;flex-direction:column;}
._1x4q{padding-top:80px;}
._1x4t{color:#bec3c9;display:block;font-size:16px;font-weight:bold;padding-top:10px;}
._1x4t:hover{color:#fff;text-decoration:none;}
._1x4u{color:#bec3c9;font-size:11px;padding-top:16px;}
.__o4{display:flex;flex-direction:column;justify-content:space-between;padding-top:20px;}
.__o5{color:#fff;display:flex;font-size:11px;order:2;}
.__o6{order:1;padding-bottom:20px;}
.__o7 a{color:#fff;font-size:11px;}
.__o8{background:#fff;height:11px;width:1px;}
@media only screen and (min-width: 768px){
._1x4o{padding-bottom:75px;padding-top:75px;}
._1x4p{flex-direction:row;}
._1x4q{padding-top:0;}
._1x4t{font-size:12px;}
.__o4{flex-direction:row;}
.__o6{order:2;padding-bottom:0;}
.__o5{order:1;}
}
._4jvi{background-color:#fff;}
._4jvj{box-sizing:border-box;display:flex;flex-direction:column;}
._2amr{box-sizing:border-box;display:flex;flex-direction:row;justify-content:space-between;}
._1hm1{border-top:1px solid #ebedf0;box-sizing:border-box;flex-direction:column;order:2;}
._1hm0{display:flex;display:none;flex-direction:column;padding-bottom:35px;position:relative;z-index:1000;}
._3e7r{box-sizing:border-box;display:flex;flex-direction:row;order:1;}
._3q24{order:4;}
@media only screen and (min-width: 1024px){
._4jvj{flex-direction:row;margin-left:-16px;margin-right:-16px;position:relative;}
._1hm0{display:flex;flex-direction:row;flex-grow:1;padding-bottom:0;}
._1hm1{display:flex;flex-direction:row;order:1;}
._3e7r{order:3;}
._3q25{flex-grow:1;order:2;}
}
@media only screen and (max-width: 1024px){
._3e7r{border-top:1px solid #ebedf0;}
._1hm1{padding-top:35px;}
}
._3sa5{align-items:center;box-sizing:border-box;display:flex;height:60px;}
._3sa6{transition:all .2s ease-in-out;}
._3sa6:hover{text-decoration:none;}
._3sa6:hover ._409w{color:#3578e5;}
@media only screen and (min-width: 1024px){
._3sa5{padding-left:16px;padding-right:16px;}
}
@media only screen and (max-width: 1024px){
ul li ._3sa5{height:35px;}
}
._dx0:hover{cursor:pointer;}
._dx0{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/Q28b2IDXQjS.png);background-repeat:no-repeat;background-size:auto;background-position:-69px -40px;height:20px;width:20px;}
._wrx{display:block;height:auto;max-width:100%;}
._2ykw{perspective:600px;position:relative;}
._2ykw:hover ._2ykx{transform:rotateY(180deg);}
._2ykw:hover ._2yky{transform:rotateY(360deg);}
._2ykx,._2yky{-webkit-backface-visibility:hidden;position:absolute;transition:transform 1s;}
._2yky{transform:rotateY(180deg);}
.sp_z4tFE8S_fEY{background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/Q28b2IDXQjS.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px;}
.sp_z4tFE8S_fEY.sx_cf59e3{width:229px;height:39px;background-position:0 0;}
/*! CSS Used from: data:text/css; charset=utf-8,@media only screen and (max-width: 767px){._1dyv{display:none !important}}@media only screen and (min-width: 768px) and (max-width: 1023px){._1dyw{display:none !important}}@media only screen and (min-width: 1024px) and (max-width: 1279px){._1dyx{display:none !important}}@media only screen and (min-width: 1280px){._1dyy{display:none !important}}._1dyz,._1dy-,._1dy_,._1dz0{display:none !important}@media only screen and (max-width: 767px){._1dyz{display:flex !important}}@media only screen and (min-width: 768px) and (max-width: 1023px){._1dy-{display:flex !important}}@media only screen and (min-width: 1024px) and (max-width: 1279px){._1dy_{display:flex !important}}@media only screen and (min-width: 1280px){._1dz0{display:flex !important}}%23bootloader__cEd4{height:42px;}.bootloader__cEd4{display:block!important;} */
@media only screen and (max-width: 767px){
._1dyv{display:none!important;}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
._1dyw{display:none!important;}
}
._1dyz,._1dy-{display:none!important;}
@media only screen and (max-width: 767px){
._1dyz{display:flex!important;}
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
._1dy-{display:flex!important;}
}
/*! CSS Used from: data:text/css; charset=utf-8,._1525{box-sizing:border-box;margin-left:auto;margin-right:auto;padding-left:16px;padding-right:16px}@media only screen and (min-width: 768px){._1525{width:calc(768px - 16px)}}@media only screen and (min-width: 1024px){._1525{width:calc(1024px - 24px)}}@media only screen and (min-width: 1280px){._1525{width:calc(1280px - 32px)}}%23bootloader_1b54y{height:42px;}.bootloader_1b54y{display:block!important;} */
._1525{box-sizing:border-box;margin-left:auto;margin-right:auto;padding-left:16px;padding-right:16px;}
@media only screen and (min-width: 768px){
._1525{width:calc(768px - 16px);}
}
@media only screen and (min-width: 1024px){
._1525{width:calc(1024px - 24px);}
}
@media only screen and (min-width: 1280px){
._1525{width:calc(1280px - 32px);}
}
/*! CSS Used from: data:text/css; charset=utf-8,._5gy5{box-sizing:border-box;display:flex;flex:1 1 auto;flex-direction:row;flex-wrap:wrap;margin-left:-16px;margin-right:-16px}._5gy6{justify-content:flex-start;text-align:start}._5gy7{justify-content:center;text-align:center}._5gyl{justify-content:flex-end;text-align:end}._5gyq{align-items:flex-start}._5gyr{align-items:center}._5gzp{align-items:flex-end}._5gzr{justify-content:space-around}%23bootloader_h0arH{height:42px;}.bootloader_h0arH{display:block!important;} */
._5gy5{box-sizing:border-box;display:flex;flex:1 1 auto;flex-direction:row;flex-wrap:wrap;margin-left:-16px;margin-right:-16px;}
._5gy7{justify-content:center;text-align:center;}
._5gyr{align-items:center;}
/*! CSS Used from: data:text/css; charset=utf-8,._1jbo{box-sizing:border-box;flex-basis:auto;padding-left:16px;padding-right:16px}._4ar0{flex-basis:8.333%;max-width:8.333%}._4ar1{flex-basis:16.667%;max-width:16.667%}._4ar2{flex-basis:25%;max-width:25%}._4ar3{flex-basis:33.333%;max-width:33.333%}._4ar7{flex-basis:41.667%;max-width:41.667%}._4ar8{flex-basis:50%;max-width:50%}._4ar9{flex-basis:58.333%;max-width:58.333%}._4ara{flex-basis:66.667%;max-width:66.667%}._4arb{flex-basis:75%;max-width:75%}._4arc{flex-basis:83.333%;max-width:83.333%}._4ard{flex-basis:91.667%;max-width:91.667%}._4are{flex-basis:100%;max-width:100%}@media only screen and (min-width: 768px){._1jbq{flex-basis:8.333%;max-width:8.333%}._1jbr{flex-basis:16.667%;max-width:16.667%}._1jbs{flex-basis:25%;max-width:25%}._1jbt{flex-basis:33.333%;max-width:33.333%}._1jbu{flex-basis:41.667%;max-width:41.667%}._1jbv{flex-basis:50%;max-width:50%}._1jc0{flex-basis:58.333%;max-width:58.333%}._1jc1{flex-basis:66.667%;max-width:66.667%}._1jc5{flex-basis:75%;max-width:75%}._1jc6{flex-basis:83.333%;max-width:83.333%}._1jc7{flex-basis:91.667%;max-width:91.667%}._1jc8{flex-basis:100%;max-width:100%}}@media only screen and (min-width: 1024px){._1jc9{flex-basis:8.333%;max-width:8.333%}._1jca{flex-basis:16.667%;max-width:16.667%}._1jcc{flex-basis:25%;max-width:25%}._1jcd{flex-basis:33.333%;max-width:33.333%}._1jci{flex-basis:41.667%;max-width:41.667%}._1jcj{flex-basis:50%;max-width:50%}._1jck{flex-basis:58.333%;max-width:58.333%}._1jcm{flex-basis:66.667%;max-width:66.667%}._1jcn{flex-basis:75%;max-width:75%}._1jcw{flex-basis:83.333%;max-width:83.333%}._1jcx{flex-basis:91.667%;max-width:91.667%}._1jcy{flex-basis:100%;max-width:100%}}@media only screen and (min-width: 1280px){._1jcz{flex-basis:8.333%;max-width:8.333%}._1jc-{flex-basis:16.667%;max-width:16.667%}._1jc_{flex-basis:25%;max-width:25%}._1jd0{flex-basis:33.333%;max-width:33.333%}._1jd1{flex-basis:41.667%;max-width:41.667%}._1jd2{flex-basis:50%;max-width:50%}._1jd3{flex-basis:58.333%;max-width:58.333%}._1jd4{flex-basis:66.667%;max-width:66.667%}._1jd5{flex-basis:75%;max-width:75%}._1jd6{flex-basis:83.333%;max-width:83.333%}._1jdb{flex-basis:91.667%;max-width:91.667%}._1jde{flex-basis:100%;max-width:100%}}._1jdf{margin-left:8.333%}._1jdg{margin-left:16.667%}._1jdp{margin-left:25%}._1jdq{margin-left:33.333%}._1jdr{margin-left:41.667%}._1jds{margin-left:50%}._1jdt{margin-left:58.333%}._1jdu{margin-left:66.667%}._1jdv{margin-left:75%}._1jdw{margin-left:83.333%}._1jdx{margin-left:91.667%}%23bootloader_uCqHL{height:42px;}.bootloader_uCqHL{display:block!important;} */
._1jbo{box-sizing:border-box;flex-basis:auto;padding-left:16px;padding-right:16px;}
._4ar3{flex-basis:33.333%;max-width:33.333%;}
._4ar8{flex-basis:50%;max-width:50%;}
._4ara{flex-basis:66.667%;max-width:66.667%;}
._4arc{flex-basis:83.333%;max-width:83.333%;}
._4are{flex-basis:100%;max-width:100%;}
@media only screen and (min-width: 768px){
._1jbt{flex-basis:33.333%;max-width:33.333%;}
._1jbv{flex-basis:50%;max-width:50%;}
}
@media only screen and (min-width: 1024px){
._1jcc{flex-basis:25%;max-width:25%;}
}
@media only screen and (min-width: 1280px){
._1jc-{flex-basis:16.667%;max-width:16.667%;}
}
/*! CSS Used from: data:text/css; charset=utf-8,._2z6w{-webkit-font-smoothing:antialiased;background-color:%23fff;font-size:20px;line-height:1.2}@media only screen and (min-width: 768px){._2z6w{font-size:15px}}@media only screen and (min-width: 1024px){._2z6w{font-size:10px}}%23bootloader__qbMU{height:42px;}.bootloader__qbMU{display:block!important;} */
._2z6w{-webkit-font-smoothing:antialiased;background-color:#fff;font-size:20px;line-height:1.2;}
@media only screen and (min-width: 768px){
._2z6w{font-size:15px;}
}
@media only screen and (min-width: 1024px){
._2z6w{font-size:10px;}
}
/*! CSS Used from: data:text/css; charset=utf-8,._3e1t{font-family:Freight Sans,helvetica neue,helvetica,arial,lucida grande,sans-serif}._3e1t ._4in-{font-family:Graphik LCG Web, Graphik Arabic Web Regular, -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, Lucida Grande, Sans-Serif}._4iwk{font-size:.95em}._3e1u{font-size:1.4em}._3e1-{font-size:1.8em}._3e1_{font-size:2.4em}._3e20{font-size:2.8em}._3e21{font-size:3.2em}._3e22{font-weight:400}._3e23{font-weight:500}._3e24{font-weight:600}._4iwl{color:%23000}._3e25{color:%234267b2}._3e26{color:%234080ff}._3e27{color:%2300f0ff}._3e28{color:%2342b72a}._3e29{color:%23fff}._3e2c{color:%23444950}%23bootloader_c57I_{height:42px;}.bootloader_c57I_{display:block!important;} */
._3e1t{font-family:Freight Sans,helvetica neue,helvetica,arial,lucida grande,sans-serif;}
/*! CSS Used from: data:text/css; charset=utf-8,._50zm{overflow:hidden;position:relative}._50zn{overflow:visible;position:absolute}._9bp ._50zn{clear:both}._3el6{display:inline-block;vertical-align:top}._9bp ._3el8{float:left}._9bo ._3el8{display:table}._50z1,._50z2{cursor:pointer;position:absolute;top:50%}._50z1{left:0}._50z2{right:0}._9bo ._50z1{left:50%;top:0}._9bo ._50z2{bottom:0;left:50%;top:auto}._7kgh{opacity:0;transition:.2s;visibility:hidden}._50z3:hover ._7kgh{opacity:1;visibility:visible}._3jay{display:table;list-style:none}._3jaz{margin:0 auto}._3jaw{cursor:pointer;display:inline-block;margin-left:5px}._3jaw:first-child{margin-left:0}._3jav{background-color:%23bec3c9;border-radius:50%;display:inline-block;height:10px;margin:5px;width:10px}._3jav._3el7{background-color:%233578e5}%23bootloader_tGiPS{height:42px;}.bootloader_tGiPS{display:block!important;} */
._50zm{overflow:hidden;position:relative;}
._50zn{overflow:visible;position:absolute;}
._9bp ._50zn{clear:both;}
._3el6{display:inline-block;vertical-align:top;}
._9bp ._3el8{float:left;}
._3jay{display:table;list-style:none;}
._3jaz{margin:0 auto;}
._3jaw{cursor:pointer;display:inline-block;margin-left:5px;}
._3jaw:first-child{margin-left:0;}
._3jav{background-color:#bec3c9;border-radius:50%;display:inline-block;height:10px;margin:5px;width:10px;}
._3jav._3el7{background-color:#3578e5;}
/*! CSS Used from: data:text/css; charset=utf-8,._605a ._4ooo:not(._1ve7){border-radius:50%;overflow:hidden}._605a ._7mi5:not(._1ve7){border-radius:8px;height:40px;overflow:hidden;width:40px}._6y97{border:2px solid %23bec3c9;border-radius:50%;box-sizing:border-box;padding:2px 2px}._6_ut._6y97{border-color:%233578e5}%23bootloader_YGSKr{height:42px;}.bootloader_YGSKr{display:block!important;} */
._605a ._4ooo:not(._1ve7){border-radius:50%;overflow:hidden;}
/*! CSS Used from: https://static.xx.fbcdn.net/rsrc.php/v3/yv/l/0,cross/fDCKo8SwdSy.css?_nc_x=9pbprGlQgYp */
._605a ._4ooo:not(._1ve7){border-radius:50%;overflow:hidden;}
/*! CSS Used from: Embedded */
.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal;}
.fb_reset>div{overflow:hidden;}
.fb_iframe_widget{display:inline-block;position:relative;}
.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify;}
.fb_iframe_widget iframe{position:absolute;}
/*! CSS Used fontfaces */
@font-face{font-family:'Freight Sans';font-style:normal;font-weight:300;src:url(https://static.xx.fbcdn.net/rsrc.php/yR/r/ZrU4HRM4Ggh.woff);}
@font-face{font-family:'Freight Sans';font-style:normal;font-weight:400;src:url(https://static.xx.fbcdn.net/rsrc.php/yL/r/MyQM0dgkFKf.woff);}
@font-face{font-family:'Freight Sans';font-style:normal;font-weight:500;src:url(https://static.xx.fbcdn.net/rsrc.php/yS/r/djOb8sxl7Vq.woff);}
@font-face{font-family:'Freight Sans';font-style:normal;font-weight:600;src:url(https://static.xx.fbcdn.net/rsrc.php/yn/r/lPvUQPp1vwx.woff);}
@font-face{font-family:'Freight Sans';font-style:normal;font-weight:700;src:url(https://static.xx.fbcdn.net/rsrc.php/yc/r/X1plD6LY5UI.woff);}
@font-face{font-family:'Freight Sans';font-style:normal;font-weight:900;src:url(https://static.xx.fbcdn.net/rsrc.php/yT/r/fP9VuBa0Pob.woff);}
@font-face{font-family:'Freight Sans';font-style:italic;font-weight:300;src:url(https://static.xx.fbcdn.net/rsrc.php/yo/r/RvwAzK6Z63X.woff);}
@font-face{font-family:'Freight Sans';font-style:italic;font-weight:400;src:url(https://static.xx.fbcdn.net/rsrc.php/yy/r/BhgNmSeanJb.woff);}
@font-face{font-family:'Freight Sans';font-style:italic;font-weight:500;src:url(https://static.xx.fbcdn.net/rsrc.php/yD/r/7PxAKi892fI.woff);}
@font-face{font-family:'Freight Sans';font-style:italic;font-weight:600;src:url(https://static.xx.fbcdn.net/rsrc.php/y0/r/4aN3-pkJVve.woff);}
@font-face{font-family:'Freight Sans';font-style:italic;font-weight:700;src:url(https://static.xx.fbcdn.net/rsrc.php/yy/r/ji6UPpyRFDi.woff);}
@font-face{font-family:'Freight Sans';font-style:italic;font-weight:900;src:url(https://static.xx.fbcdn.net/rsrc.php/y1/r/c1rQZ1EtI65.woff);}
